*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    padding: 10px;
}
h4 {
    color: rgb(255, 255, 255);
    font-family: Arial, Consolas
    text-align: center;
}
textarea {
  width: 100%;
  float: top;
  min-height: 250px;
  overflow: scroll;
  margin: auto;
  padding: 5px;
  display: inline-block;
  background: #f4f4f9;
  outline: none;
  font-family: Consolas;
  font-size: 17px;
}

iframe {
  bottom: 0;
  position: relative;
  width: 100%;
  height: 35em;
}